

<div class="row">
    <div class="col-md-8 nav-title">
        <h4> Administration page </h4>
    </div>
    <div class="col-md-4">
        <ul class="nav flex-column nav-admin">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/branch">Branch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/car">Car</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cartype">Car Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/order">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/employee">Employee</a>
            </li>
        </ul>
    </div>
</div>