
<div class="row">
    <div class="col-md-6">
        <form class="car-form" #carForm="ngForm">
            <div class="form-group">
                <select class="form-control" name="BranchName" #BranchName="ngModel" [(ngModel)]="branch1">
                    <option *ngFor="let branch of branchesList" [ngValue]="branch">{{branch}}</option>
                </select>
            </div> 
            <div class="form-group">
                <select class="form-control" name="CarType" #CarType="ngModel" [(ngModel)]="cartypemodel">
                    <option *ngFor="let cartype of carTypeModelsList" [ngValue]="cartype">{{cartype}}</option>
                </select>
            </div>
            
           
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-block btn-info" (click)="onGetCarsList()"> Get Best Cars</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div *ngIf="allcars; else elseBlock">
            <table border=1 class="disp-table">
                <tr *ngFor="let car of carService.carsList">
                    <td><img width="100" height="50" alt="858" src="assets/images/{{car.Image}}"></td>
                    <td>{{car.CarType.Model}}</td>
                    <td>{{car.Branch.BranchName}}</td> 
                    <td>{{car.CarNumber}}</td> 
                    <td> <button type="button"  [routerLink]="['/carorder',car.CarNumber ]"> Order Now </button></td>
                </tr>
            </table>  
        </div>
        <ng-template #elseBlock>
            <table border=1 class="disp-table">
                <tr *ngFor="let car of carsList">
                    <td><img width="100" height="50" alt="858" src="assets/images/{{car.Image}}"></td>
                    <td>{{car.CarType.Model}}</td>
                    <td>{{car.Branch.BranchName}}</td>
                    <td>{{car.CarNumber}}</td> 
                    <td> <button type="button"  [routerLink]="['/carorder',car.CarNumber ]"> Order Now </button></td>
                </tr>
            </table>
        </ng-template>
       
    </div>
</div>
