
<div class="row">
    <div class="col-md-3">
        <button (click)="carService.getCars()">Refresh</button>
    </div>
    <div class="col-md-9">
        <h3 class="admin-list-all"> All Cars </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10 table-scrolling">  
        <table class="admin-table table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Car Number</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Model</th>
                </tr>
            </thead>

            <tr *ngFor="let car of carService.carsList">
                <td>{{car.CarNumber}}</td>
                <td>{{car.Mileage}}</td>
                <td>{{car.Branch.BranchName}}</td>
                <td>{{car.CarType.Model}}</td>
                <td>
                    <a class="btn" (click)="showForEdit(car)">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a class="btn text-danger" (click)="onDeleteCar(car.CarNumber)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>