<div class="row">
    <div class="col-md-3">
        <button (click)="customerService.getCustomers()">Refresh</button>
    </div>
    <div class="col-md-9">
        <h3 class="admin-list-all"> All Customers </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 table-scrolling">      
        <table class="admin-table table table-hover">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">User Name</th>
                </tr>
            </thead>
            <tr *ngFor="let customer of customerService.customersList">
                <td>{{customer.FullName}}</td>
                <td>{{customer.UserName}}</td>
                <td>
                    <a class="btn" (click)="showForEdit(customer)">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a class="btn text-danger" (click)="onDeleteCustomer(customer.FullName)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>