
<div class="row">
    <div class="col-md-6">

        <form class="admin-input-form" #branchForm="ngForm">
            <div class="form-row">
                <div class="form-group col-md-3">
                <button (click)="onSearchBranch()">search</button>
            </div>
            <div class="form-group col-md-3">
               <input class="form-control" name="BranchNameS" [(ngModel)]="branchName" />
            </div>
            </div>
            <div class="form-group">
                <input class="form-control" name="BranchName" #BranchName="ngModel" [(ngModel)]="branch.BranchName" placeholder="Branch Name" required>
                <div class="validation-error" *ngIf="BranchName.invalid && BranchName.touched">This Field is Required.</div>
            </div>

            <div class="form-group">
                <input class="form-control" name="Address" #Address="ngModel" [(ngModel)]="branch.Address" placeholder="Address" required>
                <div class="validation-error" *ngIf="Address.invalid && Address.touched">This Field is Required.</div>
            </div>

            <div class="form-group">
                <input class="form-control" name="Latitude" #Latitude="ngModel" [(ngModel)]="branch.Latitude" placeholder="Latitude" required>
                <div class="validation-error" *ngIf="Latitude.invalid && Latitude.touched">This Field is Required.</div>
            </div>
            <div class="form-group">
                <input class="form-control" name="Longitude" #Longitude="ngModel" [(ngModel)]="branch.Longitude" placeholder="Longitude" required>
                <div class="validation-error" *ngIf="Longitude.invalid && Longitude.touched">This Field is Required.</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <button [disabled]="!branchForm.valid" type="button" class="btn btn-lg btn-block btn-info" (click)="onUpdateBranch()">
                        <i class="fa fa-floppy-o"></i> Update
                    </button>
                </div>
                <div class="form-group col-md-4">
                    <button [disabled]="!branchForm.valid" type="button" class="btn btn-lg btn-block btn-info" (click)="onNewBranch()">
                        <i class="fa fa-floppy-o"></i> New
                    </button>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="onResetBranch()">
                        <i class="fa fa-repeat"></i> Reset
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        <app-branches-list></app-branches-list>
    </div>
</div>