/* You can add global styles to this file, and also import other style files */
h3.head-list-all {
    color: black;
}

div.validation-error{
    color: red;
    text-align: center;
}

button:hover,a.btn:hover{
    cursor: pointer;
}
 
div.nav-title {
    text-align: center;
    color: black;
    padding: 50px;
}

ul.nav-admin{
    background-color: white;
    color:black;
    border-radius: 5px;
    margin: 40px;
    width:100px;
    height: 250px;
}

div.main-page {
    width: 1200px;
    height: 700px;
    color:blue;
    background-color: #3e468d;
}

.main-main {
    height: 500px;
    padding: 0px;
    margin: 20px ;
    background-image: url("assets/images/body.jpg");
}

.main-header {
    color:blue;
    background-color: #3e468d;
    height: 30px;
    padding: 0px;
    margin: 10px;
}


.main-footer {
    color:blue;
    background-color: #3e468d;
    height: 30px;
    padding: 0px;
    margin: 20px;
}

table.car-display {
    width: 500px;
    padding: 0px;
    margin: 20px;
}

nav.nav-options {
   font-size: 20px;
}

form.form-order {
    background-color:blanchedalmond;
}

form.customer-register-form {
    width: 500px;
    height: 500px;
    margin: 50px;
}

form.admin-input-form {
    width: 500px;
    height: 500px;
    margin: 50px;
}

div.table-scrolling {
    overflow: scroll;
    height: 400px;
    width: 500px;
}

table.admin-table   {
    color:black !important;
    background-color:  #5482e6;
}

form.customer-input-form {
    width: 500px;
    height: 500px;
    margin: 50px;
}