
<div class="row">
    <div class="col-md-2">
        <button (click)="branchService.getBranches()">Refresh</button>
    </div>
    <div class="col-md-4">
        <h3 class="head-list-all"> All Branches </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10 table-scrolling"> 
        <table class="admin-table table table-hover">
            <thead>
                <tr>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tr *ngFor="let branch of branchService.branchesList">
                <td>{{branch.BranchName}}</td>
                <td>{{branch.Address}}</td>
                <td>
                    <a class="btn" (click)="showForEdit(branch)">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a class="btn text-danger" (click)="onDeleteBranch(branch.BranchName)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
